@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <div class=" Grid">
    <div class=" Salud">
        <h2>Salud</h2>
        <img src="https://static3.depositphotos.com/1006233/210/i/450/depositphotos_2107725-stock-photo-switzerland-button-with-flag.jpg" width="200" height="200"/>
        <p>
            La importancia de estar sanos se aprecia en los gestos más cotidianos. 
            Según la OMS, "la salud es un estado de completo bienestar físico, mental y social, y no solamente la ausencia de afecciones o enfermedades". 
            Es la posibilidad de desarrollo humano, de disfrute de la vida y de crecimiento.
        </p>
        </div>
    
    <div class=" Seguridad">
        <h2>Seguridad</h2>
        <img src="https://us.123rf.com/450wm/azvector/azvector1803/azvector180300460/97332989-icono-de-vector-de-seguridad-cibern%C3%A9tica-icono-del-vector.jpg" width="200" height="200" />
        <p>Su objetivo es mejorar las condiciones laborales y el ambiente en el trabajo, 
            además de la salud en el trabajo, que conlleva al fomento del mantenimiento del bienestar físico, mental y social de los empleados.</p>
        </div>
    <div class=" Educacion">
        <h2>Educacion</h2>
        <img src="https://img.freepik.com/vector-premium/logotipo-educacion-libro-objeto-elemento-humano-aprendizaje-feliz-diseno-vectores-creativos_490655-85.jpg" width="200" height="200" />
        <p>La educación es uno de los factores que más influye en el avance y progreso de personas y sociedades.
            Además de proveer conocimientos, la educación enriquece la cultura, el espíritu, los valores y todo aquello que nos caracteriza como seres humanos. 
            La educación es necesaria en todos los sentidos.</p>
    </div>
    </div>
</div>
